@model MyPhamCheilinus.Models.DanhMucSanPham

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>DanhMucSanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDanhMuc" class="control-label"></label>
                <input asp-for="MaDanhMuc" class="form-control" />
                <span asp-validation-for="MaDanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDanhMuc" class="control-label"></label>
                <input asp-for="TenDanhMuc" class="form-control" />
                <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaCtloai" class="control-label"></label>
                <select asp-for="MaCtloai" class ="form-control" asp-items="ViewBag.MaCtloai"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaHang" class="control-label"></label>
                <select asp-for="MaHang" class ="form-control" asp-items="ViewBag.MaHang"></select>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanhGia" class="control-label"></label>
                <input asp-for="DanhGia" class="form-control" />
                <span asp-validation-for="DanhGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CachDung" class="control-label"></label>
                <input asp-for="CachDung" class="form-control" />
                <span asp-validation-for="CachDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiTiet" class="control-label"></label>
                <input asp-for="ChiTiet" class="form-control" />
                <span asp-validation-for="ChiTiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

