@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GioHang
<a href="/GioHang" class="offcanvas-toggle">
    <i class="icon-bag"></i>
    <span class="item-count">@Model?.Lines.Count</span>

</a>
