@model IEnumerable<Loai>
<ul class="sub-menu">
    @foreach (var item in Model)
    {
        <li><a href="#">@item.TenLoai</a></li>
    }

</ul>

<li class="has-dropdown">
    <a href="#">MẶT <i class="fa fa-angle-down"></i></a>
    <!-- Sub Menu -->
    <lu class="sub-menu">

        @await Component.InvokeAsync("CTLoaiMenu", new { maLoai = "L1" })
    </lu>
</li>